/* -------------------------------------------------------------------------------- */
/* ! WooCommerce Style  */
/* -------------------------------------------------------------------------------- */

.woocommerce h2{
  font-size: 1.8rem;
}

.woocommerce .button{
  border-radius: 0px!important;
  font-size: 0.9rem!important;
}

.woocommerce-info{
  padding:30px;
  margin:0;
  background-color:transparent!important;
  color:var(--color-default);
  border-top: 0px none;
  text-align: center;
  border: 1px solid var(--color-grey-light);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.cart-empty.woocommerce-info{
  justify-content:center;
}

.woocommerce-info::after, .woocommerce-info::before{
  display: none;
}

.woocommerce-message{
  border-top-color: var(--color-green)!important;
}

.woocommerce-message{
  border-top:0px none;
  border: 1px solid var(--color-green);
  background-color: transparent!important;
  outline: none;
}

.woocommerce-message::before {
  color: var(--color-green);
}



.cart-item a{
  display: flex;
  align-items: center;
}

.cart-item i{
  font-size: 1.2rem;
  padding-right: 5px;
}


.cart-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-red);
  color: white;
  font-size: 0.8rem;
  border-radius: 10px;
}

.title-shop{
  width: 100%;
  background-color: var(--color-white);
  padding: 30px 0;
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: 60px;
}

.title-shop h1{
    font-size:2.2rem!important;
}

.product-breadcrumbs {
    margin:30px 0;
    font-size:1rem;
}

.woocommerce-breadcrumb a {
    text-decoration: none;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
}

.woocommerce-breadcrumb a:hover {
    text-decoration: none;
    color: var(--color-primary)!important;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
}


@media (max-width: 768px) {
  
  .product-breadcrumbs{
    display: none;
  }

  .woocommerce-message{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .woocommerce-message a{
    margin-top: 15px!important;
  }


}



.shop-container {
  width: 100%;
  margin-bottom: 60px;
}
.shop-products {
  width: 100%;
  display: flex;
}

.category-list{
  width: 19.5%;
}

.category-list h3{
  width: 90%;
  font-size: 1.4rem;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-grey-light);
  font-weight: var(--font-medium);
}

@media (max-width: 768px) {
  .category-list{
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-grey-light);
  }

  .category-list h3{
    width:100%;
  }


  .shop-products {
    display: inline;
  }

  .products{
    width: 100%!important;
  }

  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 100%;
  }

}



.toggle-link{
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
  width: 90%;
}

.cat-name {
  flex: 1;
}

.toggle-link i{
  font-size: 1.4rem;
}

/* Freccia */
.toggle-link .bx {
  transition: transform 0.25s ease;
}
.has-children.open .toggle-link .bx {
  transform: rotate(180deg);
}

/* Nasconde i level-3 di default */
.submenu-container { display: none; }
li.has-children.open > .submenu-container { display: block; }

/* Rotazione della freccia */
.has-children.open a .bx {
  transform: rotate(180deg);
  transition: transform 0.25s ease;
}


.product-categories {
  list-style: none;
  padding: 0;
}

.product-categories > li {
  font-weight: bold;
}

.product-categories li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px;
  transition: 0.3s;
}

.product-categories li a:hover {
  color:var(--color-primary);
}

.product-categories.level-2 li{
    font-size: 1rem;
}
.product-categories.level-3 li{
    font-size: 0.9rem;
}

.product-categories.level-2 li a::before{
    content: "-";
    margin-right: 5px;
}

.product-categories.level-3 li a::before{
    content: "--";
}



.subcategories {
  list-style: none;
  padding-left: 10px;
  margin-top: 0px;
}

.subcategories li {
  font-weight: normal;
}

.subcategories li a:hover {
  color: var(--color-primary);
}

.products{
  width: 80%;
}

.related.products{
  width: 100%!important;
}


.product{
  width: 100%;
}

.product h2{
  color: var(--color-default)!important;
}

.woocommerce-Price-amount{
  font-weight: var(--font-semi-bold);
}


.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price{
  color: green;
}

.woocommerce ul.products li.product .price ins{
  color: var(--color-red);
}

.woocommerce ul.products li.product .price ins span{
  color:var(--color-red);
}

.woocommerce ul.products li.product .price del{
  color:var(--color-default)!important;
}
.woocommerce ul.products li.product .price del span{
  color:var(--color-default)!important;
}

.woocommerce ul.products li.product .button{
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 0.70rem!important;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
}


.outofstock > .product_type_simple{
  display: none!important;
}

.woocommerce span.onsale{
    background-color: var(--color-red);
    width: 90px;
    min-height: 20px!important;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    top: 6px !important;
    right: 6px !important;
    padding: 0px!important;
    line-height: 30px;
  }

.out-of-stock-label {
    position: absolute;
    background-color: var(--color-grey);
    color: var(--color-white);
    width: 120px;
    min-height: 20px!important;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    top: 0px !important;
    right: 0px !important;
    padding: 0px!important;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}


.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.product-content{
  width: 100%;
  display: flex;
  align-items:start;
  margin-bottom:15px;
}

.product-image{
  width: 40%;
  margin-right: 30px;
}

.related-products{
  border-top: 1px solid var(--color-grey-light);
  padding-top: 30px;
}

.related-products h2{
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.related-products .products{
  width: 100%;
}

@media (max-width: 768px) {

  .product-content{
    flex-direction: column;
    padding:0 15px;
    margin: 15px 0;
  }

  .product-image{
    width: 100%;
    margin-right: 0px;
  }

  .related-products{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .woocommerce ul.products li.product .button{
    font-size: 0.9rem!important;
  }

  .woocommerce-loop-product__title{
    font-size: 1.4rem!important;
  }

  .woocommerce-Price-amount{
    font-size: 1.2rem;
  }

}

.product-image img {
  width: 100%;
  border-radius: 0px;
}
.product-details {
  flex: 1;
}

.product-details h1{
  font-size: 2rem;
  margin-bottom: 15px;
}

.price{
  font-size: 1.3rem;
}

.price del{
  text-decoration: line-through;
  opacity: 0.5;
}
.price ins{
  text-decoration: none;
  color: var(--color-red);
}



.description-short {
  margin: 10px 0;
  font-size: 16px;
}

.product-description{
  margin-bottom: 60px;
}

.product-description h3{
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.stock{
  width:max-content!important;
  font-size: 0.9rem;
  margin-bottom:15px;
  font-weight: var(--font-bold);
}

.in-stock{
  color:var(--color-green);
}

.out-of-stock{
  color: var(--color-red);
}

.single_add_to_cart_button{
  background-color: var(--color-orange)!important;
  color:var(--color-white)!important;
  margin-top: 30px!important;
}


.woocommerce-product-gallery__wrapper div{
    float: left;
    width: 24%;
    margin:0 1% 15px 0;
}
.woocommerce-product-gallery__wrapper div img{
    width: 100%;
}

.woocommerce-product-gallery__wrapper div:first-child{
    width: 100%;
    margin:10px 0 0 0;
}

.woocommerce-product-gallery__wrapper div:last-child{
    margin:0 0 15px 0;
}

.back-button-mobile{
  display: none;
  padding: 0 15px;
}

.back-button-mobile a{
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: var(--font-semi-bold);
  color: var(--color-default);
}

.back-button-mobile i{
  margin-right: 4px;
  font-size: 1.4rem;
}


@media (max-width: 768px) {

  .price{
    font-size: 1.1rem;
  }

  .product-details h1{
    font-size: 1.5rem;
  }

  .product-description{
    padding: 0 15px;
    margin-top: 30px;
    font-size: 0.9rem;
  }

  .product-description h3{
      font-size: 1rem;
      margin-bottom: 10px;
    }


  .back-button-mobile{
    display: block;
  }

}




.woocommerce-cart {
    background-color: #f9f9f9;
}


/* Cart Table */
.woocommerce-cart-form table.shop_table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.woocommerce-cart-form table th,
.woocommerce-cart-form table td {
    padding: 1.2rem;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 0.95rem;
}

.woocommerce-cart-form table th {
    background-color: #fafafa;
    font-weight: 600;
    color: #333;
}

/* Thumbnail */
.product-thumbnail img {
    width: 70px;
    height: auto;
    border-radius: 6px;
}

/* Product Name */
.product-name a {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

.product-name a:hover {
    text-decoration: underline;
}

/* Remove Button */
.product-remove .remove {
    color: var(--color-red);
    font-size: 1.2rem;
}

/* Quantity Input */
.woocommerce input.qty {
    width: 60px;
    padding: 0.4rem;
    text-align: center;
    border: 1px solid #ddd;
}


/* Coupon field */
.coupon input {
    width:max-content!important;
    border: 1px solid var(--color-grey-light);
    padding: 0.6rem;
    border-radius: 0px;
    margin-right: 10px;
}

.coupon button {
    font-size: 0.8rem !important;
}


/* Totals */
.cart-collaterals {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.cart_totals {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 0px;
    padding: 2rem;
}

.cart_totals h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cart_totals table {
    width: 100%;
    border-collapse: collapse;
}

.cart_totals th,
.cart_totals td {
    text-align: left;
    padding: 0.6rem 0;
}

.checkout-button{
  background-color: var(--color-primary)!important;
  color: var(--color-default)!important;
  font-size: 1.2rem!important;
}

/* Responsive */
@media (max-width: 768px) {
    .woocommerce-cart-form table th,
    .woocommerce-cart-form table td {
        font-size: 14px;
        padding: 1rem;
    }

    .cart-collaterals {
        justify-content: center;
    }

    .cart_totals {
        width: 100%;
    }
}




.checkout-container {
  width: 100%;
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.btn-back-to-cart {
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #444;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn-back-to-cart:hover {
  color: #000;
  text-decoration: underline;
}

.checkout-container h3{
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.col2-set{
  margin-bottom: 30px;
}


.woocommerce table.shop_table{
  border-radius: 0px!important;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
  border-radius: 0px!important;
}

.woocommerce-terms-and-conditions-wrapper{
  margin-bottom: 30px;
}

.woocommerce button.button.alt{
  height: 50px;
  background-color: var(--color-orange);
  color: var(--color-default);
  font-size: 0.75rem!important;
  letter-spacing: 1px;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}
.woocommerce button.button.alt:hover{
  background-color: var(--color-orange);
  color: var(--color-default);
}

.woocommerce .quantity .qty{
  height:48px;
  font-size: 0.9rem;
}

.checkout-container input[type=text], .checkout-container input[type=email], .checkout-container input[type=tel], .checkout-container input[type=password]{
  height: 50px!important;
  margin-bottom: 10px;
  border:1px solid #CCC!important;
  border-radius:0px!important;
  padding:0 10px!important;
  font-size: 1rem!important;
  color: var(--color-default)!important;
  font-family: var(--font-default)!important;
}

.woocommerce-address-fields input[type=text], .woocommerce-address-fields input[type=email], .woocommerce-address-fields input[type=tel], .woocommerce-address-fields input[type=password]{
  height: 50px!important;
  margin-bottom: 10px;
  border:1px solid #CCC!important;
  border-radius:0px!important;
  padding:0 10px!important;
  font-size: 1rem!important;
  color: var(--color-default)!important;
  font-family: var(--font-default)!important;
}

.woocommerce-form-login input[type=text], .woocommerce-form-login input[type=email], .woocommerce-form-login input[type=tel], .woocommerce-form-login input[type=password]{
  height: 50px!important;
  margin-bottom: 10px;
  border:1px solid #CCC!important;
  border-radius:0px!important;
  padding:0 10px!important;
  font-size: 1rem!important;
  color: var(--color-default)!important;
  font-family: var(--font-default)!important;
}

.woocommerce-EditAccountForm input[type=text], .woocommerce-EditAccountForm input[type=email], .woocommerce-EditAccountForm input[type=tel], .woocommerce-EditAccountForm input[type=password]{
  height: 50px!important;
  margin-bottom: 10px;
  border:1px solid #CCC!important;
  border-radius:0px!important;
  padding:0 10px!important;
  font-size: 1rem!important;
  color: var(--color-default)!important;
  font-family: var(--font-default)!important;
}

.woocommerce-address-fields button[type=submit]{
  min-width: 200px;
  height: 50px;
  background-color: var(--color-green)!important;
  color: var(--color-white);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-medium);
  border:0px none;
  margin-top:15px;
  margin-bottom: 10px;
  margin-left: -8px;
  transition: .3s all;
}

.woocommerce-address-fields button[type=submit]:hover{
  color: var(--color-white);
}


.woocommerce-form-login button[type=submit]{
  min-width: 200px;
  height: 50px;
  background-color: var(--color-green)!important;
  color: var(--color-white);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-medium);
  border:0px none;
  margin-top:15px;
  margin-bottom: 10px;
  margin-left:0;
  transition: .3s all;
}

.woocommerce-form-login button[type=submit]:hover{
  color: var(--color-white);
}


.woocommerce-EditAccountForm button[type=submit]{
  min-width: 200px;
  height: 50px;
  background-color: var(--color-green)!important;
  color: var(--color-white);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-medium);
  border:0px none;
  margin-top:15px;
  margin-bottom: 10px;
  margin-left: -8px;
  transition: .3s all;
}

.woocommerce-EditAccountForm button[type=submit]:hover{
  color: var(--color-white);
}


.woocommerce-EditAccountForm fieldset{
  border: 0px none;
  margin-top: 30px;
}

.woocommerce-EditAccountForm legend{
  font-weight: var(--font-semi-bold);
  margin:0 0 15px 3px;
}

.woocommerce-form-login__rememberme{
  margin-top: 24px;
}

.woocommerce-EditAccountForm em{
  font-size: 0.8rem;
}

.checkout-container select{
  margin-bottom: 10px;
  padding:0 10px!important;
  font-size: 1rem!important;
  color: var(--color-default)!important;
  font-family: var(--font-default)!important;
}

.select2-container .select2-selection--single{
  height: 50px!important;
}

.select2-container--default .select2-selection--single{
  border:1px solid #CCC!important;
  border-radius:0px!important;
}

.select2-container .select2-dropdown, .select2-container .select2-selection{
  border:1px solid #CCC!important;
  border-radius:0px!important;
}

.checkout-container input[type=submit]{
  min-width: 200px;
  height: 50px;
  background-color: var(--color-link);
  color: var(--color-default);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-medium);
  border:0px none;
  margin-bottom: 10px;
  transition: .3s all;
}

.checkout-container input[type=submit]:hover{
  background-color: var(--color-link-hover);
}

.checkout-container textarea{
  height: 150px!important;
  margin-bottom: 10px;
  border:1px solid #CCC!important;
  border-radius:0px!important;
  padding:10px!important;
  font-size: 1rem!important;
  color: var(--color-default)!important;
  font-family: var(--font-default)!important;
}

.checkout-container label{
  font-size:0.9rem!important;
  margin-bottom: 5px!important;
}

.woocommerce-MyAccount-content h2{
  font-size: 1.8rem;
}

.woocommerce-notice--success{
  color: var(--color-green)!important;
  font-weight: var(--font-semi-bold);
  font-size: 2rem;
  margin-bottom: 15px;
}

.woocommerce-order-details__title, .woocommerce-column__title{
  font-size: 1.4rem!important;
  margin-bottom: 15px;
}

.woocommerce-customer-details address{
  border-bottom-width: 1px!important;
  border-right-width: 1px!important;
  border-radius: 0px!important;
  padding: 15px!important;
  line-height: 24px!important;
}


.my-account-container {
  width: 100%;
  background: #fff;
  padding:60px;
  margin-bottom: 60px;
}

.woocommerce-MyAccount-content{
  min-height: 30vh;
  border-left:1px solid #CCC!important;
  padding:15px;
}

.woocommerce-MyAccount-content p{
  margin-bottom: 15px;
}

.woocommerce-MyAccount-navigation li{
  margin-bottom: 10px;
  font-weight: var(--font-semi-bold);
}

.woocommerce-Address-title h2{
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.woocommerce-Address-title .edit{
  float: left!important;
  font-size:1rem;
  font-weight: var(--font-semi-bold);
  border: 1px solid var(--color-primary);
  padding: 10px;
  margin-bottom: 30px;
}

.woocommerce-Address address{
  font-size: 0.9rem!important;
}

.woocommerce-MyAccount-content p{
  padding: 0 10px;
  margin-bottom:30px;
}

.woocommerce form.login{
  position:relative;
  border: 0px none;
  padding: 0;
}

.woocommerce form.login p{
  width: 40%;
}

.woocommerce form.login::after{
  content: " ";
  width: 55%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../icons/icn-key.png);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 300px;
  opacity: .2;
}

.page-template-page-checkout .woocommerce form.login::after{
  background-image: none;
}

.woocommerce-Address-title .edit {
  font-size: 0.9rem;
}


@media (max-width: 768px) {

  .woocommerce form.login::after{
    display: none;
  }

  .woocommerce form.login p{
  width: 100%;
  }

  .my-account-container{
    padding: 20px;
  }

  .woocommerce button.button.alt{
    font-size: 0.8rem!important;
  }



}


